body{
    background-color: rgb(83, 72, 72);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
.fa-magnifying-glass{
    color: white;
    z-index: 999;
}
span{
    display: flex;
    position: relative;
}
.input{
width: 0px;
height: 3rem;
transition: width 500ms ease;
}
.active .input{
 width: 10rem;
}
.box{
    cursor: pointer;
    border: none;
    background-color: rgb(95, 90, 90);
    padding: 1rem;
    position: absolute;
    left: 0;
    transform: translateX(0px);
}
button.active{
 transform: translateX(30px);
 background-color: black;
}

