:root{
    box-sizing: border-box;
}
*,::before,::after{
    box-sizing: inherit;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: .7rem;
}
.image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: .9rem;
    width: 8vh;
    position: relative;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.image.active{
    width: 60vh;
}
h3{
    opacity: 0;
    position: absolute;
    transition: all 250ms ease-in-out 250ms;
    bottom: 0;
    left: 0;
}
h3.active{
    opacity: 1;
}